body {
  font-family: 'Muli', sans-serif;
  background-color: #f0f8ff;
}

.hidden {
  display: none;
}

.btn {
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  background-color: #f0f8ff;
  width: 3vw;
}

.btn:active {
  background-color: #e7eef1;
}

#title {
  font-size: 40px;
  text-align: center;
  margin-top: 10vh;
}

#choose {
  font-size: 24px;
}

#choose_weap {
  text-align: center;
  margin-top: 5vh;
}

#weaps {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

#weap_x {
  margin-right: 1vw;
}

#weap_o {
  margin-left: 1vw;
}

#scoreboard {
  text-align: center;
  margin-top: 5vh;
  font-size: 24px;
}

#my_score {
  margin-top: 2vh;
  font-size: 20px;
}

#ur_score {
  font-size: 20px;
}

#board_container {
  display: grid;
  grid-template-rows: [r1] auto [r2] auto [r3] auto [r4];
  grid-template-columns: [c1] auto [c2] auto [c3] auto [c4];
  justify-content: center;
  margin-top: 8vh;
  text-align: center;
  align-items: center;
  font-size: 30px;
}

.row1 {
  border-right: 1px solid black;
  padding: 5vh;
}

.row2 {
  padding: 5vh;
}

.row3 {
  border-left: 1px solid black;
  padding: 5vh;
}

.col1 {
  border-bottom: 1px solid black;
}

.col3 {
  border-top: 1px solid black;
}

#msg {
  text-align: center;
  margin-top: 5vh;
  font-size: 24px;
}
